@using PactSharp
@inherits LayoutComponentBase

@inject PactClient _pactClient

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4">
            <span>Connected to <a class="ms-0" href="/Settings">@_pactClient.CurrentNetwork</a></span>
            <a href="https://github.com/hexafluoride/Shadena" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
