@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/hexafluoride/Shadena" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
