@typeparam TItem
@using System.Diagnostics.CodeAnalysis

<table class="table @(Classes ?? "")">
    <thead>
    <tr>@TableHeader</tr>
    </thead>
    <tbody>
    @if (Items != null)
    {
        foreach (var item in Items)
        {
            if (RawRowTemplate is not null)
            {
                @RawRowTemplate(item)
            }
            else if (RowTemplate is not null)
            {
                <tr>@RowTemplate(item)</tr>
            }
        }
    }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }
    
    [Parameter]
    public RenderFragment<TItem>? RawRowTemplate { get; set; }

    [Parameter, AllowNull]
    public IReadOnlyList<TItem> Items { get; set; }
    
    [Parameter]
    public string Classes { get; set; }
}